<?xml version='1.0' encoding='utf-8'?>
<widget id="com.babynamer.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>宝宝起名</name>
    <description>宝宝起名工具</description>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Orientation" value="portrait" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="21" />
    </platform>
</widget>
